body {
  background-color: #fff !important;
}

/* Navigation Bar CSS 

#navbar {
  overflow: hidden;
  background-color: black;
  padding: 20px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  height: 90px;
  top: 0;
  z-index: 99;
  left: -10px;
  margin: -10px 0px 0px 0px;
}

#navbar a {
  color: #6f26c9;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-bottom: 3px solid transparent;
  margin: 0px 10px 15px 0px;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.6s;
  color: white;
  float: left;
}

#navbar #logo img {
  height: 70px;
  width: 130px;
  margin-top: -25px;
  padding-top: 0;
}

#navbar-right a:hover {
  border-bottom: 3px solid tomato;
  transition: 0.8s ease-in;
}

 style active link 
#navbar a.active {
  border-bottom: 3px solid tomato;
}

#navbar-right {
  float: right;
  padding: 15px;
  transition: 0.6s;
  font-size: 18px;
}

*/

/* NAVBAR STYLING*/
.navbar.navbar-default {
  background-color: white !important;
  width: 100%;
  margin: 0 auto;
  padding: 30px auto !important;
  border: none;
}

.nav.navbar-nav {
  margin-left: 30px;
}

.nav.navbar-nav li {
  margin-top: 20px;
  margin-left: 30px;
  background-color: none;
}

.nav.navbar-nav a {
  font-family: "Open Sans" !important;
  color: #27436e;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
}

.nav.navbar-nav li :hover {
  text-decoration: underline;
  font-weight: bold;
}

.navbar-header img {
  height: auto;
}

#l-in button {
  background-color: #fff;
  border: 2px solid #00aced;
  color: #00aced;
  border-radius: 5px;
  width: 102px;
  height: 36px;
  text-decoration: none;
}

#s-up button {
  background-color: #00aced;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 5px;
  width: 102px;
  height: 37px;
  text-decoration: none;
}

/* TOPSIDE STYLING */
#top-side {
  background-image: url("Images/background_Layer.png");
  width: 90%;
  margin: auto;
  background: white;
  border-bottom-left-radius: 5px;
}

#top-side .col-sm-4 {
  padding-right: 0;
  padding-left: 0;
}

#left-side button {
  font-size: 24px;
  font-family: "Open Sans";
  width: 240px;
  height: 80px;
  background-color: #00aced;
  color: white;
  border: 1px solid #b0c4de;
  border-radius: 50px;
}

#left-side {
  padding-top: 50px;
  width: 100%;
  height: 400px;
  margin: auto;
  background-color: transparent;
}

#left-side h1 {
  line-height: 50px;
  font-size: 50px;
  font-weight: bolder;
  font-family: "Open Sans";
  width: 50%;
  color: #27436e;
}

#left-side p {
  line-height: 30px;
  width: 50%;
  font-family: "Open Sans";
  color: #27436e;
}

#right-side {
  width: 100%;
  height: 400px;
  text-align: center;
  background-color: transparent;
}

#right-side img {
  width: 100%;
  height: 400px;
}

/* WATCH WORD STYLING */
#watch-word {
  margin-top: 20px;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#watchImage {
  margin: auto;
}

#watchImage img {
  width: 90%;
  height: auto;
}

#watchText {
  margin-top: 100px;
  text-align: left;
  font-weight: bold;
  color: #27436e;
}

#stake .row {
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* STAKE HOLDERS STYLING */
.stake-holders {
  width: 80%;
  height: 400px;
  margin: auto;
  color: #545b6f;
  background-color: #fff;
  border-top: 30px solid #00bfff;
  box-shadow: 0px 10px 20px rgba(0, 172, 237, 0.2);
}

.stake-holders h3 {
  font-weight: bold;
  font-family: "Roboto";
}

.stake-holders p {
  font-family: Roboto;
  font-size: 15px;

  text-align: center;
  word-spacing: 5px;
  padding: auto;
  margin: auto 10px;
}

.stakeImage {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  background-color: #00bfff;
  margin-top: 10px;
  padding-top: 10px;
}

.stakeImage#stk01 {
  padding-top: 10px;
}

.stake-holders img {
  margin: 10px auto;
}

/* BRAND LIST/ BUSINESS ICONS STYLING*/
#brand-list {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
}

#brand-list .row .col-xs-3 {
  padding-left: auto;
  padding-right: auto;
  margin: auto !important;
}

#brand-list .row .col-xs-3 img {
  width: 50%;
  height: 80px;
}

/* FEATURES SECTION STYLING */
#features {
  width: 100%;
  padding-bottom: 100px;
  font-family: "Open Sans";
  margin-top: 100px;
  background: #3c8bff;
}

#feature-desc {
  text-align: center;
  margin-top: 30px;
  font-style: normal;
  font-size: 40px;
  font-family: "Open Sans";
  color: #fff;
}

#feature-desc2 {
  text-align: center;
  margin-top: 30px;
  font-style: normal;
  font-size: 40px;
  font-family: "Open Sans";
  color: #27436e;
}

#demac hr {
  width: 20%;
  border: 1px solid #545b6f;
}

#row1 {
  margin-top: 35px;
  text-align: left;
  font-size: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#row2 {
  text-align: left;
  font-size: 20px;
  margin-top: 35px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#row1 img,
#row2 img {
  width: 220px !important;
  height: 200px !important;
  background-color: transparent;
  padding: 5px;
}

#row2 img {
  float: right;
}

#row1 h3,
#row2 h3 {
  font-weight: bold;
  font-family: "Open Sans";
  color: #fff;
}

#row1 p,
#row2 p {
  font-family: "Source Sans Pro";
  font-size: 18px;
  word-spacing: 2px;
  color: #fff;
}

#row1 h3 {
  margin-top: 50px;
}

.tagz {
  margin-top: 5px;
  font-size: 15px;
}

/* WHY EDUSTRIPE SECTION STYLING*/

#why {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

#why h4 {
  font-weight: bold;
  font-family: "Open Sans";
}

#why p {
  width: 60%;
  text-align: center;
  margin: auto;
  font-family: "Source Sans Pro";
  font-size: 20px;
}

#why a {
  text-decoration: none;
}

#why1 {
  margin-bottom: 30px;
}

#why2 {
  margin-bottom: 30px;
}

#whyButt {
  width: 120px;
  height: 40px;
  background: #00aced;
  color: #fff;
  border-radius: 3px;
  border: none;
  box-shadow: 1px 1px 1px #00aced;
}

/* THE CONTACT SECTION STYLING */

.headzz {
  font-family: Roboto;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #fff;
  letter-spacing: 5px;
  font-weight: bold;
}

.off {
  color: white;
}

#contactzz {
  text-align: center;
  width: 100%;
  background-color: #00bfff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 15px;
  font-family: "Open Sans";
}

#linkzz p {
  line-height: 45px;
  font-size: 15px;
  color: white;
  font-family: "Source Sans Pro";
  letter-spacing: 2px;
}

#linkzz a {
  color: white;
  text-decoration: none;
}

#linkzz a:hover {
  text-decoration: line-through;
}

#add-itemzz p {
  line-height: 40px;
  color: white;
  font-size: 18px;
  font-family: "Open Sans";
  letter-spacing: 2px;
}

.sub-contactzz {
  width: 30%;
  margin: 10px auto;
  font-size: 30px;
  color: #b0c4de;
  font-family: "Open Sans";
}

#copyright {
  color: white;
  font-family: "Open Sans";
}

/* contact form Styling */
@import url("https://fonts.googleapis.com/css?family=Lato:100, 300, 400");

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: white;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: white;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

#form {
  position: relative;
}

input {
  font-family: Roboto;
  font-size: 0.875em;
  width: 80%;
  height: 50px;
  outline: none;
  color: white;
  padding-left: 5px;
  background: white;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 80%;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding-left: 5px;

  outline: none;

  color: white;
  font-family: Roboto;
  font-size: 0.875em;
  background: white;
  border-left: 3px solid white;
  border-bottom: 3px solid white;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 30%;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #4d8080;
  outline: none;
  cursor: pointer;
  border: solid 1px #b3aca7;
  background-color: #fff;
  margin-top: 10px;
  margin-left: 0;
  letter-spacing: 2px;
}

#submit:hover {
  color: #e2dedbfb;
  background-color: #fff;
}

/* ------- #### PRODUCT page styling*/
#product-body {
  text-align: center;
  width: 100%;
}

#prod-wrapper img {
  width: 100%;
}

#footer {
  text-align: center;
  background-color: #00bfff;
  color: #000;
}

/*MEDIA QUERIES SECTION */

@media only screen and (max-width: 600px) {
  .container-fluid {
    width: 100% !important;
  }

  body {
    width: 100%;
  }

  /* NAVBAR */
  .navbar.navbar-default {
    width: 100%;
    border: none;
  }

  .collapse.navbar-collapse {
    text-align: center !important;
    background-color: #545b6f;
    padding-right: 5px;
  }

  .collapse.navbar-collapse ul {
    margin-right: 33px;
    color: #fff !important;
  }

  .collapse.navbar-collapse a {
    color: #fff !important;
  }

  /* TOP SIDE */
  #top-side {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  #left-side {
    padding-top: 40px;
    width: 100%;
    height: auto;
    text-align: center;
  }

  #left-side h1 {
    line-height: 27px;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
  }

  #left-side p {
    line-height: 22px;
    width: 100%;
    word-spacing: 3px;
    font-size: 20px;
  }

  #left-side button {
    font-size: 18px;
    width: 115px;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid #b0c4de;
    border-radius: 50px;
  }

  #right-side {
    width: 323px;
    padding: 0;
    height: auto;
    text-align: center;
    margin: auto;
    margin-left: 0;
  }

  #right-side img {
    width: 100%;
    height: 285px;
    margin: 0 auto;
  }

  /* WACTH WORD */
  #watch-word {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  #watch-word h3 {
    font-size: 25px;
    text-align: center;
    width: 100%;
  }
  #watch-word p {
    text-align: center;
  }

  #watch-word img {
    width: 70%;
    text-align: center !important;
    margin: 0;
  }

  #watchText {
    margin-top: 5px;
  }

  /* STAKE HOLDERS */
  .stake-holders {
    margin-bottom: 15px;
    height: auto;
    width: 100%;
    padding-bottom: 30px;
  }

  .stake-holders h3 {
    padding-top: 0;
  }

  .stake-holders p {
    word-spacing: 2px;
  }

  .stakeImage {
    padding-top: 15px;
  }

  .stakeImage#stk01 {
    padding-top: 20px;
  }

  .stake-holders img {
    margin-bottom: 0;
    margin: auto;
  }

  /* FEATURES */
  #features {
    width: 80%;
    margin: auto;
  }

  #feature-desc {
    font-size: 26px;
  }

  #feature-desc2 {
    font-size: 26px;
  }

  #row1 {
    margin-top: 20px;
    text-align: left;
    font-size: 20px;
  }

  #row2 {
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
  }

  #row1,
  #row2 {
    width: 100%;
  }

  #row1 img,
  #row2 img {
    width: 70px !important;
    height: 70px !important;
    background-color: #29aae2 !important;
    border-radius: 50%;
    padding: 1px;
    margin-top: 30px;
  }

  #row1 img {
    margin-top: 60px;
  }

  #row1 h3,
  #row2 h3 {
    font-weight: bold;
    font-size: 20px;
  }

  #row1 p,
  #row2 p {
    font-size: 15px;
    font-weight: normal;
  }

  /* WHY */
  #why .col-sm-4,
  #why .col-sm-6 {
    margin-bottom: 30px;
  }

  /* BRAND LIST*/
  #brand-list {
    width: 80%;
  }

  #brand-list h3 {
    text-align: center;
    font-size: 15px;
  }

  #brand-list .row {
    height: auto;
    padding: 0;
    width: 100%;
    margin: 3px auto;
    text-align: center;
  }

  #brand-list .row .col-xs-3 {
    height: auto;
    padding: 10px;
  }

  #brand-list .col-xs-3 {
    float: left;
    width: 25%;
    margin: auto;
  }

  #brand-list .col-xs-3 .thumbnail {
    height: auto;
    margin: auto;
    padding: 30px 10px;
  }

  #brand-list .row .col-xs-3 img {
    width: 100%;
    height: 20px;
  }

  /* CONTACT */
  .headzz {
    margin-bottom: 15px;
  }

  #contactzz {
    width: 80%;
  }

  #contactzz button {
    width: 20px;
  }

  #submit {
    width: 100px;
  }
}
